@import
  "variables",
  "bootstrap",
  "bootswatch",
  "syntax-highlighting",
  "horsey.scss";

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 87px;
  margin-bottom: 46px;
}
.header-container {
  background-color: black;
  color: #fff;
  min-height: 70vh;
  h1 {
    color: #fff;
    text-shadow: 1px 1px 1px #505050;
  }
  // background-attachment: fixed;
  background-position: center 36%;
  margin-top: -37px;
}
.navbar-container {
  font-size: 16px;
}
.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding-top: 10px;
  background-color: $gray-lighter;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback{
  top:10px
}

.vertical-align {
    display: flex;
    align-items: center;
}
