<script type="text/javascript">
  var baseurl = '{{ .Site.BaseURL }}'
</script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | relURL }} "></script>
<script src="{{ "/js/typeahead.bundle.min.js" | relURL }} "></script>

<script src="{{ "/js/main.js" | relURL }} "></script>
<!-- search -->
<script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/horsey.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
