{{ $currentPage := . }}
{{ $whereP := (where .Site.Pages "Section" "blog") }}
{{ $lenP := len $whereP }}
{{ $numP := 5 }}
<div class="well">
<h4>Recent posts</h4>

{{- if gt $lenP $numP -}}
<a role="button" data-toggle="collapse" data-target="#firstposts,#allposts">See all</a>
{{- end -}}

<ul class="list-unstyled post-list-container">
  <div id="firstposts" class="collapse in">
    {{ range first $numP $whereP }}
      <li><a href="{{ .URL }}"{{ if eq .Title $currentPage.Title }} class="active" {{ end }}>{{ .Title}}</a>  • {{ .Date.Format "2 January 2006" }}</li>
    {{ end }}
  </div>

  <div id="allposts" class="collapse">
    {{ range $whereP }}
    <li><a href="{{ .URL }}"{{ if eq .Title $currentPage.Title }} class="active" {{ end }}>{{ .Title}}</a>  • {{ .Date.Format "2 January 2006" }}</li>
    {{ end }}
  </div>


</ul>
</div>
