{{ partial "header.html" . }}
{{ partial "topnav.html" . }}
{{ $home := (.Site.GetPage "section" "home") }}
{{ range where $home.Data.Pages "Type" "jumbotron"}}
{{ partial "home/jumbotron.html" .}}
{{ end }}

<div class="container">
  {{ range where $home.Data.Pages "Type" "text_img"}}
  {{ partial "home/text_img.html" .}}
  {{ end }}

    <hr>

    <div class="row">
        {{ range where $home.Data.Pages "Type" "card"}}
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-{{ .Params.icon }}" aria-hidden="true"></i></h1>
            <h3 class="text-center">{{ .Title }}</h3>
            <p>{{ .Content }}</p>
        </div>
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}
{{ partial "js_files.html" . }}
